{% extends 'Web/Templates/base.html.twig' %}

{% block body %}

<div class="col-md-8">

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

        <h1 class="card-title">{{ product.name }}</h1>
        <p class="card-text">Precio: {{ product.price }} €</p>
    <p class="card-text">{{ product.description }}</p>
        {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
        <div class="form-group col-md-2 inline">
            <label>Quantity
            {{ form_widget(form.quantity, {
                'attr': {
                    'class': 'form-control ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
                }
            }) }}</label>
            <div class="invalid-feedback">
                {{ form_errors(form.quantity) }}
            </div>
        </div>
        {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}