{% extends 'Web/Templates/base.html.twig' %}


{% block body %}


<h2>Compra finalizada</h2>
    <hr class="my-4">
    <div class="product-list">

        <div class="row mb-4 d-flex justify-content-between align-items-center">
            <div class="col-md-3 col-lg-3 col-xl-3">
                <h6 class="text-black mb-0">Item</h6>
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex">
                <h6 class="text-black mb-0">Cantidad</h6>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h6 class="text-black mb-0">Precio</h6>
            </div>
        </div>
    {% for product in products %}
        <div class="row mb-4 col-xl-5 d-flex justify-content-between align-items-center">
        <div class="col-md-3 col-lg-3 col-xl-3">
            <h6 class="text-black mb-0">Item: {{ product.name }}</h6>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1 d-flex">
            <p class="">{{ product.quantity }} </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
            <h6 class="mb-0">{{ product.price }} €</h6>
        </div>

        </div>

        <hr class="my-4">
    {% endfor %}
    <div class="row mb-4 d-flex justify-content-between align-items-center">

        <div class="col-md-8 col-lg-3">
            <h6 class="mb-0">Total de la compra: {{ cartTotal }} €</h6>
        </div>
    </div>
    </div>
    <div class="row mb-4 d-flex justify-content-between align-items-center">
        <div class="col-md-8 ">
            <h6 class="mb-0">Los productos se enviarán a: {{ address }}</h6>
        </div>
    </div>
    </div>

{% endblock %}